extends layout


block content
        .container
            .row
                .col-md-6
                    img.rounded.float-left(src='images/pic01.png' alt='photo_francis_mujani' style='width: 100%;')
                .col-md-6
                    .alert.alert-success(role='alert')
                        h4.alert-heading Développeur NodeJs junoir!
                        hr
                        p Je suis un jeune développeur Web à la recherche d'un employeur qui me fera confiance.Possédant une motivation sans faille, je saurai mener à bien les différentes missions que vous me confierez.
                        | Je sais m'adapter à une situation en place, et pourrais m'intégrer sans le moindre problème à votre équipe. 
                        | Mon manque d'expérience professionnelle n'entame en rien ma volonté et me pousse au contraire à faire mes preuves.
                        hr
                        p.mb-0 Quelques bases sur Python. 
                        | Cependant, je suis prêt à me former sur d’autres technologies.Ce premier emploi va marquer ma vie dont la réussite est entre vos mains.
            .row
                .col-md-12
                    table.table.table-sm.table-dark
                        thead
                            tr
                            th(scope='col').text-center COMPÉTENCES
                .col-md-12
                    table.table.table-sm.table-dark
                        thead
                            tr
                            th(scope='col') Node.js
                            th(scope='col') Javascript
                            th(scope='col') Angular
                            th(scope='col') Php
                        tbody
                            tr
                            th(scope='row') MongoDB
                            td(scope='row') MySql
                            td(scope='row') Html & Css
                            td(scope='row') MongoDB
                       


                    
