nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.mb-4
  button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarText' aria-controls='navbarText' aria-expanded='false' aria-label='Toggle navigation')
    span.navbar-toggler-icon
  .collapse.navbar-collapse#navbarText
    ul.navbar-nav.mr-auto
      li.nav-item.active
        a.nav-link(href='/')
          | views appareils 
          span.sr-only (current)
      li.nav-item
        a.nav-link(href='/ajouter') Add new appareil
      li.nav-item
        a.nav-link(href='/about') About me
    span.navbar-text.
  